body {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.tour {
  background: #074357;
  height: 100vh;
  margin: 0;
}

h2 {
  margin: 0;
  color: white;
}
.tour__head {
  padding-top: 10vh;
  text-align: center;
  margin-bottom: 50px;
}

.image-container {
  height: 100vh;

  width: 100%;
  display: block;
}

canvas {
  width: 100%;
}

.panorama-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panorama-pointer {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7); /* Цвет треугольника (указателя) */
  margin-bottom: 5px; /* Расстояние между указателем и текстом */
}

.panorama-text {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 8px;
  text-align: center;
}
